html{
    overflow-x: hidden;
}
body{
    font-family: 'Merienda', cursive;
    box-sizing: border-box;
    text-decoration: none;
}
.titletop{
    padding: 4rem 2rem;
    font-size: 50px;
    color: #4F0E0E;
}

.head{ 
    border: none;
    width: 100%;
    margin: 0;
    background-color: #FFE194;
    
}
/* details */
#details{
    padding: 4rem 0rem;
}
.card-img-top{
    padding: 2rem;
    width: 450px;
    height: 400px;
}
.starss{
        font-size: 2rem;
        color: rgba(236, 163, 5, 0.911);
}
h3{
    font-weight: bolder;

}
.carousel-item{
    width: -webkit-fill-available;

}

@media  (max-width:1000px){
    body{
        text-align: center;
    }
    .logo{
        transform: translate(50%);
    }
    .titletop{
       display: none;
    }
    .card-img-top{
        margin: 0;
        border: none;
        width: 400px;
        position: relative;
        right: 5.5%;
    }
    .products{
        background-color:#EFEFEF;
        border: 1px solid rgb(161, 63, 63);
        border-left: none;
        border-right:none ;
    }
    
}
@media  (max-width:600px){
    .logo{
        transform: translate(0%);
    }
    .titletop{
       display: none;
    }
    
}